.main-form{
    width: 50%;
    margin: auto;
}

.forumer {
    margin-bottom: 30px;
}

#headerLAL{
    margin-bottom: 40px;
}

.link-button {
    background-color: transparent;
    color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    display: inline;
    margin: 0;
    padding: 0;
}

.link-button:hover,
.link-button:focus {
    text-decoration: none;
}